body
{
	background-color: lightgrey;
}

#buttons-view
{
	margin:10px;
}


button
{
	margin: 10px;
	border-style: solid;
	border-color: white;
}

#Sport-form
{
	float:right;
}

.img-thumbnail
{
		
	margin:10px;

}

.item
{
	float: left;
	border: 1px;
	border-color: white;

}
